# objects and binaries
*.out
out
minishell
*.o
*.d
.nfs*
files
outfiles
tester/tester
tester/fpetit
tester/outfiles
tester/files/inexistent
tester/files/permanentbadperm.txt
tester/1
libft.a

# directories
.vscode
libft
minishell_tester
m_tester
